<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Configuring RoleVoter bean to use custom access roles, by default roles
        should be in the form ROLE_{XXX} -->
    <beans:bean id="roleVoter"
                class="org.springframework.security.access.vote.RoleVoter">
        <beans:property name="rolePrefix" value=""></beans:property>
    </beans:bean>

    <beans:bean id="accessDecisionManager"
                class="org.springframework.security.access.vote.AffirmativeBased">
        <beans:constructor-arg name="decisionVoters"
                               ref="roleVoter" />
    </beans:bean>

    <http access-decision-manager-ref="accessDecisionManager">

        <!-- Permissions -->
        <intercept-url pattern="/**order**" access="hasRole('ROLE_ADMIN')" />

        <!-- LOGIN\LOGOUT CONFIG-->
        <form-login login-page="/login" authentication-failure-url="/denied"
                    username-parameter="ulog" password-parameter="upass"
                    default-target-url="/skills" />
        <logout invalidate-session="true" logout-success-url="/login"
                logout-url="/j_spring_security_logout" />
        <access-denied-handler error-page="/login"/>
        <session-management invalid-session-url="/login">
        </session-management>
    </http>

     <!--AUTHENTICATION MANAGER-->
    <!--<authentication-manager id="dao-auth">-->
        <!--<authentication-provider user-service-ref="userDetailsService">-->
        <!--</authentication-provider>-->
    <!--</authentication-manager>-->
    <!--<authentication-manager id="planned">-->
        <!--<authentication-provider>-->
            <!--<user-service>-->
                <!--<user name="test" password="111" authorities="ROLE_ADMIN" />-->
                <!--<user name="arpit" password="arpit123" authorities="ROLE_ADMIN" />-->
            <!--</user-service>-->
        <!--</authentication-provider>-->
    <!--</authentication-manager>-->

    SERVICE CLASS 4 A.M.
    <beans:bean id="userDetailsService"
                class="com.zaico.cms.servicies.implementation.UserServiceImpl" />

</beans:beans>